![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

#Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom

#Exercícios

#Listas

Para esse exercicio você tera alguns desafios, separei eles em partes, vamos lá?

1 - Crie uma lista com 100 números inteiros.
- Pode ser uma sequência, ou caso queira se desafiar faça de números aleatorios.
- Os dados não devem ser inseridos manualmente, utilize de um laço de repetição para adicionar os elementos a Lista.

In [ ]:
import random

lista = []

for _ in range (100):
  lista.append(random.randint(1, 1000))

print(lista)

[561, 650, 79, 544, 158, 768, 501, 755, 680, 572, 138, 237, 59, 881, 777, 597, 655, 774, 897, 213, 306, 166, 805, 262, 956, 591, 846, 435, 669, 910, 429, 182, 478, 285, 296, 975, 536, 126, 284, 359, 375, 19, 428, 475, 727, 73, 694, 638, 69, 329, 555, 751, 297, 139, 47, 884, 837, 465, 870, 960, 49, 903, 251, 401, 984, 187, 399, 459, 775, 382, 366, 846, 104, 159, 383, 315, 449, 697, 8, 8, 305, 569, 911, 498, 456, 757, 497, 704, 652, 949, 372, 54, 254, 141, 441, 660, 233, 941, 653, 612]

2 - Calcule e exiba a soma de todos os números da lista.

In [ ]:
soma = sum(lista)

print(f'A soma de todas os números da lista é: {soma}')

A soma de todas os números da lista é: 48808

3 - Exiba o maior e o menor número da lista.

In [ ]:
maior = max(lista)
menor = min(lista)

print(f'O maior número da lista é: {maior}')
print(f'O menor número da lista é: {menor}')

O maior número da lista é: 984
O menor número da lista é: 8

4 - Pesquise se o número 77 esta presente na lista e exiba:
- Quantas vezes esse número aparece na lista
- Se aparece em qual ou quais posições(Indice).

In [ ]:
quantidade = lista.count(77)

posicoes = [indice for indice, numero in enumerate(lista) if numero == 77]

print(f"O número 77 aparece {quantidade} vezes na lista.")

if quantidade > 0:
    print(f"O número 77 aparece nas posições: {posicoes}")
else:
    print("O número 77 não aparece na lista.")

O número 77 aparece 0 vezes na lista.
O número 77 não aparece na lista.

5 - Ordene a lista de forma descendente e exiba.

In [ ]:
lista_ordenada = sorted(lista, reverse=True)

print(f'Lista ordenada de forma descendente: {lista_ordenada}')

Lista ordenada de forma descendente: [984, 975, 960, 956, 949, 941, 911, 910, 903, 897, 884, 881, 870, 846, 846, 837, 805, 777, 775, 774, 768, 757, 755, 751, 727, 704, 697, 694, 680, 669, 660, 655, 653, 652, 650, 638, 612, 597, 591, 572, 569, 561, 555, 544, 536, 501, 498, 497, 478, 475, 465, 459, 456, 449, 441, 435, 429, 428, 401, 399, 383, 382, 375, 372, 366, 359, 329, 315, 306, 305, 297, 296, 285, 284, 262, 254, 251, 237, 233, 213, 187, 182, 166, 159, 158, 141, 139, 138, 126, 104, 79, 73, 69, 59, 54, 49, 47, 19, 8, 8]

## Tuplas:

Crie uma tupla com os dias da semana e peça para o usuário digitar um número de 1 a 7. Exiba o dia correspondente.

In [ ]:
dias_da_semana = ('Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo')

numero = int(input('Digite um número de 1 a 7: '))

if 1 <= numero <= 7:
  dia = dias_da_semana[numero - 1]
  print(f'O dia correspondente ao número {numero} é: {dia}')
else:
  print(f'Número inválido. Digite um número entre 1 e 7.')

Digite um número de 1 a 7: 5
O dia correspondente ao número 5 é: Sexta

Crie duas tuplas com números inteiros e crie uma terceira tupla com a concatenação das duas.

In [ ]:
tupla1 = (1, 2, 3, 4, 5)
tupla2 = (6, 7, 8, 9, 10)

tupla_concatenada = tupla1 + tupla2

print(f'Tupla concatenada: {tupla_concatenada}')

Tupla concatenada: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

 Crie uma tupla com alguns elementos e remova um elemento específico.

In [ ]:
tupla = (1, 2, 3, 4, 5)

lista = list(tupla)

elemento = 4
if elemento in lista:
    lista.remove(elemento)
else:
    print('Elemento não encontrado na tupla.')

tupla_atualizada = tuple(lista)

print(f'Tupla atualizada: {tupla_atualizada}')

Tupla atualizada: (1, 2, 3, 5)

#Sets

Crie dois sets com cores diferentes e exiba na tela a união dos dois sets.

In [ ]:
set1 = {'vermelho', 'azul', 'verde'}
set2 = {'amarelo', 'azul', 'preto'}

uniao = set1.union(set2)

print(f'União dos sets: {uniao}')

União dos sets: {'verde', 'preto', 'amarelo', 'vermelho', 'azul'}

Crie uma lista com alguns números repetidos. Converta essa lista em um set para remover as duplicatas e exiba o resultado.

In [ ]:
lista = [1, 2, 3, 4, 3, 4, 5, 6, 6, 7, 8, 9, 9]

set_sem_duplicatas = set(lista)

print(f'Lista original: {lista}')
print(f'Set sem duplicatas: {set_sem_duplicatas}')

Lista original: [1, 2, 3, 4, 3, 4, 5, 6, 6, 7, 8, 9, 9]
Set sem duplicatas: {1, 2, 3, 4, 5, 6, 7, 8, 9}

#Dicionários:

 Crie um dicionário com os nomes de algumas frutas e suas respectivas cores. Exiba na tela somente as frutas que são vermelhas.

In [ ]:
frutas_cores = {
    'maça': 'vermelha',
    'banana': 'amarela',
    'laranja': 'laranja',
    'uva': 'roxa',
    'morango': 'vermelha'
}

frutas_vermelhas = []

for fruta, cor in frutas_cores.items():
  if cor == 'vermelha':
    frutas_vermelhas.append(fruta)

print(f'Frutas vermelhas: {frutas_vermelhas}')

Frutas vermelhas: ['maça', 'morango']

Crie um dicionário com o nome e a idade de três pessoas. Busque por  um nome e exiba a idade correspondente.

In [ ]:
pessoas = {
    'João': 18,
    'Maria': 25,
    'Alexandre': 29
}

nome = input('Digite o nome de uma pessoa para descobrir sua idade: ')

if nome in pessoas:
  idade = pessoas[nome]
  print(f'{nome} tem {idade} anos')
else:
  print(f'Pessoa não encontrada no dicionário')

Digite o nome de uma pessoa para descobrir sua idade: Maria
Maria tem 25 anos

Crie um dicionário com os nomes e idades de algumas pessoas. Peça para o usuário digitar um nome e sua nova idade, e atualize o dicionário com essa informação.

In [ ]:
pessoas = {
    'João': 30,
    'Maria': 25,
    'Pedro': 35
}

nome = input('Digite o nome da pessoa: ')
nova_idade = int(input('Digite a nova idade: '))

pessoas[nome] = nova_idade

print(f'Dicionário atualizado: {pessoas}')

Digite o nome da pessoa: Maria
Digite a nova idade: 26
Dicionário atualizado: {'João': 30, 'Maria': 26, 'Pedro': 35}

Desafio Dicionários:

Busque o código desenvolvido para o exercicio abaixo e altere o algoritmo para:

 - Salvar o resultado da eleição em um dícionário.


Exemplo de saida do dicionario: {"Candidato 1": 2, "Candidato 2": 2, "Voto Nulo": 0, "Voto Branco": 1}


Este exercicio foi realizado na lista da semana passada, exercicio de número 4:


"Em uma eleição presidencial existem dois candidatos. Os votos são informados através de códigos. Os dados utilizados para a contagem dos votos obedecem à seguinte codificação:

1,2 = voto para os respectivos candidatos

3 = voto nulo

4 = voto em branco;

Elabore um programa que leia o código de votação de 5 eleitores. Calcule e escreva: total de votos para cada candidato total de votos nulos total de votos em branco"

In [ ]:
resultados = {
    'Candidato 1': 0,
    'Candidato 2': 0,
    'Voto Nulo': 0,
    'Voto Branco': 0
}

for i in range(5):
    voto = int(input('Informe o código do voto: '))

    if voto == 1:
        resultados["Candidato 1"] += 1
    elif voto == 2:
        resultados["Candidato 2"] += 1
    elif voto == 3:
        resultados["Voto Nulo"] += 1
    elif voto == 4:
        resultados["Voto Branco"] += 1
    else:
        print('Código de votação inválido')

for cargo, votos in resultados.items():
    print(f'{cargo}: {votos} votos')

Informe o código do voto: 4
Informe o código do voto: 1
Informe o código do voto: 1
Informe o código do voto: 2
Informe o código do voto: 3
Candidato 1: 2 votos
Candidato 2: 1 votos
Voto Nulo: 1 votos
Voto Branco: 1 votos

#Listas por Compreensão:

Crie uma lista com os números Impares de 1 a 20 utilizando listas por compreensão.

In [ ]:
lista_impares = [numero for numero in range(1, 21) if numero % 2 != 0]

print(lista_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Crie uma lista com as letras da frase "Sou estudante de dados", utilizando listas por compreensão.

In [ ]:
frase = "Sou estudante de dados"
lista_letras = [letra for letra in frase if letra != " "]

print(lista_letras)

['S', 'o', 'u', 'e', 's', 't', 'u', 'd', 'a', 'n', 't', 'e', 'd', 'e', 'd', 'a', 'd', 'o', 's']